#include <windows.h>
1 VERSIONINFO
FILEVERSION 0,7,4,2
PRODUCTVERSION 0,7,4,2
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
#ifdef BUILD_DLL
FILETYPE VFT_DLL
#else
FILETYPE VFT_APP
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "ProductName", "CSNZ Giga Break LE Native\0"
      VALUE "ProductVersion", "0.7.4-native-r2-partial\0"
      VALUE "FileVersion", "0.7.4.2\0"
#ifdef BUILD_DLL
      VALUE "FileDescription", "Build-bound GoldSrc x86 native weapon extension\0"
      VALUE "OriginalFilename", "GigaBreakLE.dll\0"
#else
      VALUE "FileDescription", "Native local-game launcher\0"
      VALUE "OriginalFilename", "CSNZ_GigaBreakLE.exe\0"
#endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
